[2015-04-13 07:52] jbellmann opened #2 "Implement a Gradle-Plugin."

[2015-04-14 13:47] mrandi opened #3 "Spring controller handler mapping, based on swagger yaml file"

[2015-06-12 08:28] maschleg opened #5 "JSR 303 Validation for generated Models"
It would be nice to have some validation for defined Models (Schema Objects). Swagger uses the [JSON Schema Validation](http://json-schema.org/latest/json-schema-validation.html) as Validation Specification.
This codegen Plugin cloud map the defined validation into [JSR 303: Bean Validation](http://beanvalidation.org/1.0/spec/). For example:

Swagger | JSR 303
------------ | -------------
required

[2015-06-21 17:18] SunriseJJJ opened #6 "Introduce something like skipApiGeneration to be used as plugin config"
It will be really nice if i can skip generation of API classes as well as model classes (using skipModelgeneration property) e.g. when i want to re-create only model when only definitions was changed in my contract but already have API classes generated and saved somewhere (probably as another module)/

[2015-06-26 06:19] tknerr opened #7 "Builder Pattern for generated models"
It would be awesome (and low hanging fruit probably ;-)) if the generated models could be contructed via Builder pattern, e.g. `BlogPost p = new BlogPostBuilder().title("foo").content("bar").author("baz").build();`

What do you think?

[2015-06-26 16:30] jbellmann commented on #7
Nice idea, can you send me an 'template-example' for 'BlogPost'?

[2015-06-26 17:30] jbellmann commented on #6
Please try out 0.4.8. If it does not work for you, reopen this issue.

[2015-06-26 17:30] #6 closed

[2015-06-29 09:20] tknerr opened #8 "Code generation for "dynamic-html" failing (on Windows only)"
Not sure if this is a bug here or an upstream swagger-codegen bug, but this is what I get:
[code]

The files above where it says `can't open <file> for input` end up being 0-byte empty files.

My `pom.xml` looks like this:
[code]

Any ideas? The forward slashes maybe? Or am I using it the wrong way?

[2015-06-29 09:31] tknerr commented on #7
BlogPost was just a fictionary example ;-)

But it could look like this, e.g. in `swagger.yml`:
[code]

And the generated `BlogPost.java`:
[code]

And besides that a `BlogPostBuilder.java` (exemplary):
[code]

[2015-06-29 12:10] tknerr commented on #8
Seems to be a windows only thing, runs fine on our CI server...

[2015-06-29 12:29] tknerr commented on #8
It's indeed an upstream swagger bug, see:
https://github.com/swagger-api/swagger-codegen/pull/932

[2015-06-29 12:30] #8 closed

[2015-06-29 22:34] jbellmann commented on #7
Thank you, I will try to get this working in the next days.

[2015-06-30 10:28] jbellmann commented on #7
It's implemented. Please have a look and try out. Use <enableBuilderSupport>true</enabledBuilderSupport> [in the pom](https://github.com/zalando-stups/swagger-codegen-tooling/blob/master/swagger-codegen-maven-plugin/src/it/kio-yaml-with-Builder/pom.xml).

[2015-06-30 10:30] jbellmann commented on #5
It is implemented (without 'pattern'). Please try out. Use <enable303>true</enable303> [in the pom](https://github.com/zalando-stups/swagger-codegen-tooling/blob/master/swagger-codegen-maven-plugin/src/it/kio-yaml-with-Builder-303/pom.xml).

0.4.9

[2015-07-01 08:06] tknerr commented on #7
Hi @jbellmann, thanks for implementing this!

Unfortunately, starting with 0.48 I can't use the plugin anymore. I suspect the compiled class files are not backwards compatible with Java 7 anymore.

Here's what I get:
[code]

[2015-07-01 11:14] jbellmann commented on #7
Thanks for the input. I will check and release an new version.
Sorry for that.

[2015-07-01 11:36] jbellmann commented on #7
Sorry again. I updated to a new version of parent-pom and dropped some configurations without eyes on java-version.

0.4.10 is a rebuild of 0.4.9 with java 1.7 set. Should be available on Maven-Central.

Let me know if you have more issues with the release or that it works for you.

[2015-07-01 16:57] tknerr commented on #7
@jbellmann thanks for re-releasing! The plugin is working again now with our Java version, but the builders were not created.

The log files tell me that it's not supported for the "jaxrsinterfaces" generator:
[code]

Is that by intent or did I configure something wrong?

Here's the relevant pom fragment:
[code]

[2015-07-01 20:05] jbellmann commented on #7
Hi, I have to sorry again. But as 'Spring-Fanboy' I was to focused to get this to work with the spring-generators. But 0.4.11 is available in 'Maven-Central' and I also added an [integration-test](https://github.com/zalando-stups/swagger-codegen-tooling/tree/master/swagger-codegen-maven-plugin/src/it/kio-yaml-jaxrs-with-Builder) to make sure that the expected 'Builders' will be generated. Your pom

[2015-07-02 10:10] SunriseJJJ commented on #7
Hi!
Thanks for enabling Java 1.7 again! I can now use your plugin again.

So, after enabling builders, now i see that for entity like this:
[code]

builder was not generated correctly. builder neither contains this enum nor tries to import this (i can understand why, because this enum now can be generated only as inline enum [and even not in one place] by swagger-codegen, i talking with swagger-co

[2015-07-02 11:42] jbellmann commented on #7
@SunriseJJJ just a question before we go to the issue. Did 'skip-Api' work for you?

Thanks for reporting. Can you please provide an very simple 'yaml'-file where the same is configured as in json above? And it maybe helps me to find out what is going wrong when you also provide the wrong generated code. That would be very helpful.

I will also try to find a more simple but complete example for ge

[2015-07-03 14:36] jbellmann commented on #7
@SunriseJJJ I released a new version 0.4.12 where I just generate an '*'-import for the model into the builder. For your example above that would be 'import pkg.AccountDetails.*;' . That should fix the problem. At least for the [simple test](https://github.com/zalando-stups/swagger-codegen-tooling/blob/master/swagger-codegen-templates/swagger-codegen-template-spring-interfaces/src/test/java/de/zal

[2015-07-03 15:48] tknerr commented on #7
@jbellmann you fixed it before I could report it ;-)

Works great for me, thanks!!!

Imho we can close this . @SunriseJJJ works for you, too?

[2015-07-14 17:48] jbellmann commented on #7
@tknerr

Seems @SunriseJJJ is not answering anymore. If you are happy with the implementation please close this issue.

Thanks for your support.

[2015-07-14 18:48] tknerr commented on #7
:+1: thanks @jbellmann !

[2015-07-14 18:48] #7 closed

[2015-07-30 08:56] SunriseJJJ commented on #7
@jbellmann Hi again! sorry, my bad.
Builders work very well, thanks!

[2015-07-30 09:05] SunriseJJJ commented on #5
Hi again!
Using version 0.4.12, still getting
'''
[INFO] Generate for language : jaxrsinterfaces
[INFO] JSR 303 enabled ...
[INFO] but not supported by jaxrsinterfaces
'''

because of this probles and issue related to swagger-codegen (you may see https://github.com/swagger-api/swagger-codegen/issues/443#issuecomment-124129718 ; guys advices to test their develop_2.0 branch to check if issue still

[2015-08-20 23:10] A-Joshi opened #9 "spring interface api files fail to compile symbol not found @FormParam"
The generated spring interface api files do not compile with an error:

[ERROR] <filename> error: cannot find symbol
[ERROR] symbol:   class FormParam

The reason is because  the generated file does not contain the includes:

import javax.ws.rs._;
import javax.ws.rs.core._;

For now I fixed it by adding the two includes to the top of the file:
swagger-codegen-templates/swagger-codegen-template-spr

[2015-08-21 12:38] jbellmann commented on #9
Thanks for reporting the issue. I will have a look at this.

[2015-08-27 13:24] ePaul opened #10 "When DefaultGenerator.generate() fails, this is ignored."
This might not apply to the latest released version (I didn't try this due to other problems), but it shows when using this project's maven-plugin with the latest master of swagger-codegen.

The the `generate()` method in `io.swagger.codegen.DefaultGenerator` just sets a status flag (in the DefaultGenerator class) when any exception is caught while generating, and CodeGenMojo does not check this f

[2015-08-31 17:34] ePaul opened #11 "Document dependencies needed for the generated classes to work"
The generator outputs interfaces which import stuff from other projects.
For example, after using the `jaxrsinterfaces` generator, I had those imports:

[code]
The einkaufshelden stuff is also generated, java.io and java.util come from the Java standard library, but the rest comes from other libraries. For each of the options the needed dependencies (e.g. for copying into a maven definition) shoul

[2015-09-01 07:29] jbellmann commented on #9
Hi @A-Joshi,
can provide your 'api.yaml' or an snippet for testing, please?

[2015-09-01 08:47] jbellmann commented on #10
Hi @ePaul,

I updated to 'swagger-codegen' version 2.1.3 where the 'CodegenStatus' was introduced. This is checked now after codegeneration and throws an exception if 'FAILED'. But it is not possible anymore to get any information about the exception. When I see the code for 'DefaultGenerator' they removed the line with 'e.printStacktrace()' . Maybe we will replace 'DefaultGenerator' with a custom

[2015-09-01 09:07] jbellmann commented on #9
@A-Joshi , do you want to use JAX-RS ? Then maybe you should try out 'jaxrsinterfaces' as language. Then also interfaces will be generated with JAX-RS imports. Have a look at the Integration-Tests for maven-plugin [here](https://github.com/zalando-stups/swagger-codegen-tooling/blob/master/swagger-codegen-maven-plugin/src/it/spring-boot-jersey/pom.xml).

[2015-09-01 09:42] ePaul commented on #10
I guess fixing it at the source is a better idea than copying everything. The swagger-codegen folks seem to be receptive to pull requests.

[2015-09-01 12:08] A-Joshi commented on #9
I am looking at Jax RS too. I can't seem to upload a sample project here for testing.

[2015-09-17 12:43] nabcos opened #19 "Code generation with maven plugin does not work for yaml files"
When configuring a yaml file, the swagger parser tries to interpret it as json. The configuration `yamlToJson` apparently converts a swagger definition from yaml to json file, but the resulting file is not used for the code generation step.

Plugin configuration:
[code]

Console output:
[code]

[2015-09-18 08:43] jbellmann commented on #19
Hi Benjamin,

I'm not quite sure that this problem is on our side. All our test are running fine. So without your complete definition-yaml-file I'm not able to find an issue.

But for easier testing of everything related to 'swagger-codegen-tooling' (generator, maven-plugin, codegen-ui-controller) I created an example-project [here](https://github.com/zalando-stups/swagger-codegen-tooling-app). Pl

[2015-09-18 09:28] nabcos commented on #19
Yes, it's actually an issue in the swagger parser. Yaml is parsed, but the model is apparently invalid, even though swagger-api/validator-badge is saying there are no problems. The problems are actually  printed via stdout (the two NPEs just above the stack trace), but the unusual behavior to "just try it as json if it failed as yaml" and the resulting stack trace just drowned out everything else

[2015-09-18 09:28] #19 closed

[2015-11-07 04:04] jbadeau opened #21 "Java Map not generated correctly"
given a field like:
[code]

the resulting java code is:

[code]
I am using version 0.4.16 of the maven plugin.

Any ideas?

[2015-11-07 05:36] jbadeau commented on #21
Seems it is fixed with:

			<dependency>
				<groupId>io.swagger</groupId>
				<artifactId>swagger-codegen</artifactId>
				<version>2.1.4</version>
			</dependency>

any chance of a release using the latest swagger-codegen?

[2015-11-09 09:41] jbellmann commented on #21
hi @jbadeau,

please try out [this release, 0.4.17](https://github.com/zalando-stups/swagger-codegen-tooling/releases/tag/0.4.17). Its updated to latest swagger-codegen. Let me know if it works or any trouble you have.

Cheers
Jörg

[2015-11-10 09:08] jbadeau commented on #21
Hi, thank you very much for the release. Unfortunately it did not solve the model problem but it solved some other ones. I tried the official io.swagger generator and it works fine for model generation. I see that your change pulls in the correct version so I'm at a loss as to why it doesn't work. I will investigate the cause and report back. Thank you for such a fast response.

[2015-11-10 09:16] ePaul commented on #21
This project has its own templates ... so it could be that the templates here in the repository have to be updated too.

[2015-11-10 09:41] jbadeau commented on #21
My setup where ${swagger-codegen.version} = 0.4.17
[code]
I just noticed that you have your own model template. I assumed you where delegating to the io.swagger DefaultGenerator. Oops!

Comparing:

https://github.com/zalando-stups/swagger-codegen-tooling/blob/master/swagger-codegen-templates/swagger-codegen-template-spring-interfaces/src/main/resources/SpringInterfaces/model.mustache

to:
https://

[2015-11-10 09:49] jbadeau opened #22 "Invalid generation of API query params"
Generation of query params for API is incorrect

The output is:
[code]
but should be:
[code]
the template at:

https://github.com/zalando-stups/swagger-codegen-tooling/blob/master/swagger-codegen-templates/swagger-codegen-template-spring-interfaces/src/main/resources/SpringInterfaces/queryParams.mustache

looks to be the issue:

@RequestParam("filter") String filter); is valid but not if required

[2015-11-21 14:00] jbellmann commented on #22
@jbadeau thanks for reporting the issue. [0.4.18](https://github.com/zalando-stups/swagger-codegen-tooling/releases/tag/0.4.18) should fix this.
Can you please verify and close the issue if it's working?

Thanks,
Jörg

[2015-11-21 16:22] jbadeau commented on #22
Yes I will verify tomorrow 😊

[2015-11-23 13:22] jbadeau commented on #22
this issue is now solved. Thank you :)

[2015-11-23 13:22] #22 closed

[2015-11-23 14:01] jbellmann commented on #22
You are welcome.

[2015-11-23 15:12] jbellmann commented on #21
@jbadeau

can you please verify this with (0.4.20)[https://github.com/zalando-stups/swagger-codegen-tooling/releases/tag/0.4.20].

Yes we delegate as much as possible to the original-codegenerator. And we only had some fixes for issues in their code. But it seems they put a lot of fixes into their own codebase. Good for us, we can remove our code ;-).

Please close this issue if everything is work

[2015-11-23 16:57] jbadeau commented on #21
I already left work but I'll check it first thing tomorrow.

[2015-11-30 12:40] jbellmann commented on #21
@jbadeau

Any news for me on this issue? Is it working as expected?

[2015-12-02 08:20] jbadeau commented on #21
Very sorry for the late response. I ended up having to go to China for a while :O. Unfortunately 0.4.20 does not produce the correct results.

Given:
productComponentValueCd:
    type: object
    additionalProperties:
        type: string

produces:
private String productComponentValueCd = null;

but should produce:
private Map<String, String> productComponentValueCd = null;

[2015-12-02 17:37] jbellmann commented on #21
Hi @jbadeau,

hope you enjoyed china.

Thanks for your feedback but I'm wondering why it does not work for you. For me it does. So I created an integration-test with a configuration similar to yours [here](https://github.com/zalando-stups/swagger-codegen-tooling/commit/922fad8aedeefaf4b58562b86c4186d8b01fb5dd). So it's in the project now and you can verify it by your own. Just clone it or pull to

[2015-12-07 15:33] jbadeau commented on #21
Hi,

So your petstore example works in your project and it also works in mine :o

The differences I see are:

* we are using YAML instead of JSON
* we have split the API and Resources into 2 files

- petstore-service-spec.yaml
- petstore-resources.yaml

We reference the resources in the spec like:

      responses:
        '200':
          description: sopids response
          schema:

[2015-12-08 09:55] jbellmann opened #23 "Generation does not work with splitted files"

[2015-12-08 09:56] jbellmann commented on #21
So, I will close this issue because generation for Model basically works as expected. The thing with splitted files goes into it's own issue (#23).

[2015-12-08 09:56] #21 closed

[2015-12-08 10:18] jbellmann commented on #9
@A-Joshi

Please can you describe the problem again. I didn't get it, sorry. When you try to generate 'SpringInterfaces' as it seems to me when I read the first comment, then no imports of 'javax.ws.rs.*' should be used. Spring has it's own form-handling and do not depend on 'javax.ws.rs' in anyway. At least in my experience with spring.

Otherwise I will close this issue in 2 weeks if no response

[2015-12-11 08:27] XtreZz commented on #23
any news on this ? i also have this problem

[2015-12-11 10:08] jbellmann commented on #23
Not yet. Had no time to look into it the last 3 days. Sorry.

But could you provide a simple 2 file example swagger-definition please. That could improve speed when resolving this issue ;-)

[2015-12-16 15:23] stephenlynch commented on #23
Hi,

I am also having this issue. The generation is working but not for collections with generics:

[code]
Should look like this:
[code]

but generates this:
[code]

[2016-02-09 16:07] jbadeau commented on #23
Any idea if this will be fixed.

[2016-02-11 16:58] ePaul opened #25 "Bug: springinterfacesResponseEntityNoSwaggerAnnotations omits a `List<...>` in the response type parameter"
When using the language `springinterfacesResponseEntityNoSwaggerAnnotations` with an operation which returns an array of some type, the generated method has return type `ResponseEntity<Warehouse>` instead of `ResponseEntity<List<Warehouse>>`.

From the pom.xml:
[code]

bug-trigger.yaml:
[code]

Generated code (omitted imports):

[code]

When using the language `springinterfacesResponseEntity` inst

[2016-02-11 17:19] ePaul commented on #25
It looks like this problem appeared just with version 0.4.20 – if I use 0.4.19 instead, it works.

[2016-02-25 14:57] A-Joshi opened #26 "language=spring-interfaces for a yaml with file-upload seems to produce incorrect code"
API with a formupload  and using language = springinterfaces produces incorrect java code. Looks like the code generating FormDataContentDisposition and FormDataParam and also missing the includes for them.

With spring I would have expected mode along the lines of: @RequestPart("file") MultipartFile application

Attached is a zip with yaml and maven pom file to demonstrate the error - just unzip

[2016-02-25 14:57] A-Joshi commented on #26
[spring-swagger-error.zip](https://github.com/zalando-stups/swagger-codegen-tooling/files/146738/spring-swagger-error.zip)
 Not sure if the upload worked earlier

[2016-02-25 16:55] jbellmann commented on #26
Thank you, I will have a look into this.

[2016-02-25 16:57] jbellmann commented on #25
Hi Paul, thanks for reporting I will have a look into this. Latest version is 0.4.22, that should at least fix the 'void'-issue mentioned above.

[2016-02-25 19:05] A-Joshi commented on #26
Hello,

By "borrowing" a some files and lines from the language="spring-mvc" in
the standard swagger-codegen project I was able to get it to work.  My
changes were basically:

Replace the contents of the file:
swagger-codegen-templates/swagger-codegen-template-spring-interfaces/src/main/resources/SpringInterfacesResponseEntityNoSwaggerAnnotations/formParams.mustache
with the contents of:
modules/s

[2016-02-26 10:11] jbellmann commented on #25
Paul, 0.4.23 was released few minutes ago and should fix this issue (at least the tests where looking good ;-) )
Thanks for providing all needed information to fix this issue. Great.

[2016-02-26 10:11] #25 closed

[2016-02-26 10:28] jbellmann commented on #23
Hi, I had a look into the code-generator documentation and did not found any hint that it is possible to use more than one spec-file (it's the -i parameter, right?). So we only could build a custom file-merge and present that to the code-generator.

Do you have more information about using multiple spec-files for the code-generator?

[2016-02-26 10:34] jbadeau commented on #23
In swagger specs you have the option to reference external elements like:

`$ref: '../common/Definitions.yaml#/Error'`

[2016-02-26 10:47] jbellmann commented on #23
Yes I read that also somewhere in the net, and also that the 'swagger-editor' supports that. But the 'code-generator' only supports one, right? And we only delegate to that generator. I will try it.

[2016-02-26 11:05] ePaul commented on #25
Works here too for our example, thanks.

[2016-04-22 16:48] ePaul opened #29 "Allow generating code from an URL"
The maven-codegen plugin from io.swagger allows generating code from an HTTP URL (of the YAML or JSON definition). This project's plugin doesn't allow this, finishing with an error message instead:

Digging into the code, this seems to be caused by the `checkApiFileExists` method in StandaloneCodeGenerator. Commenting out its call in line 83 prevents this error message, and makes the generation wo

[2016-04-25 10:22] jbellmann commented on #29
There is no reason to not allow reading definitions from an URL. I will remove this restriction. Was there to fail fast I would say.

[2016-04-25 12:24] #29 closed

[2016-04-25 15:18] jbellmann commented on #26
@A-Joshi

I'm sorry that it takes that long for response from my side. But today, I spend some time to hopefully fix this issue. So, I released 0.4.26 with a fix. It would be nice if you could figure out that it's working for you.

Cheers
Jörg

[2016-04-29 20:26] muthu8891 opened #30 "Unable to generate any code using plugin"
I tried the approach mentioned in read me. Added the swagger.json file to 'Src/main/resources' folder and ran a 'mvn clean install' after adding the plugin to the Pom.xml. No code got generated. Build is success and jar only gets generated! Is my approach incorrect ? Please guide me...

[2016-04-29 21:19] muthu8891 commented on #30
[swagger-springboot-codegen.zip](https://github.com/zalando-stups/swagger-codegen-tooling/files/243244/swagger-springboot-codegen.zip)

This is the project for which am trying to generate code. spring-boot based application

[2016-04-30 11:57] ePaul commented on #30
The plugin doesn't bind its goals to any life cycle phase. You'll either have to do `mvn swagger-codegen:codegen`, or add an execution entry to the plugin's configuration, binding it to a phase.

[code]
(You can also put the configuration inside the `execution`, in case you want to generate sources from several Swagger files.)

[2016-04-30 17:56] muthu8891 commented on #30
Thanks Paul, that helped!

[2016-04-30 17:56] #30 closed

[2016-05-02 09:49] muthu8891 opened #31 "Swagger Codegen error with version 0.4.26"
Getting the following error while trying to generate spring-boot code with plugin version 0.4.26. The same works for 0.4.22.
[swagger-springboot-error.zip](https://github.com/zalando-stups/swagger-codegen-tooling/files/244806/swagger-springboot-error.zip)

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building swagger-

[2016-05-03 10:47] ethlo opened #32 "Usage of Spring MVC interfaces"
Hi, I was inspired to do some hacking around in Spring MVC interface generation in the hope that I could use this to generate nicely separated interfaces holding all annotations, (request-mapping, security, etc), only later to learn that method level annotations are not inherited, and Spring MVC will not detect any of the controllers, `@Secured` annotations, etc. This leads me to ask, what is the

[2016-05-03 14:11] jbellmann commented on #31
@muthu8891
I corrected your project:

[swagger-springboot-codegen.zip](https://github.com/zalando-stups/swagger-codegen-tooling/files/247004/swagger-springboot-codegen.zip)

Some hints:
- do not put extracted templates in your 'src/main/resources'-folder
- add the template-dependency not as a 'compile'-dependency, instead add it as dependency to the plugin itself

[2016-05-03 14:23] jbellmann commented on #32
So for a quick response:
Please take the corrected zip-file from #31, unzip and import into IDE without running maven on that project. You only should see the 'App' and 'GreeterImpl' in 'src/main/java'. Then run 'mvn clean install', generation starts, compiling should pass and the only test that requests the 'GreeterImpl'-Controller should also pass.

You will find the sources in 'target/generated

[2016-05-04 05:08] ethlo commented on #32
Thanks for you reply I had look as you told me, and I did not imply that the code generation does not work, that is all good. My problem was that Spring did not pick up the controllers. In you example it works, but as soon as you introduce other annotations like `@Secured` and probably `@Transactional` as well that generates proxies, the annotations will get lost as there is no method level annota

[2016-05-04 06:46] jbellmann commented on #32
Hi Morten, you are right, there are problems with method-level annotation (e.g. annotations for parameter). But for most cases it's working and the IDE seems to be aware of this and generates these annotations too when you hit 'add unimplemented methods' (maybe in Eclipse).
The intention for this was to get rid off all these Swagger-API-Annotations. 20 lines of annotations, one line of controller-

[2016-05-04 06:50] ethlo commented on #32
Sure, I will pay it back in the form of a PR later 👍

[2016-05-04 16:53] ePaul commented on #32
A possibly better way would be to generate a whole (non-abstract) controller class with all the annotations, which delegates the methods to an also-generated (but non-annotated) service interface, which can then be implemented by user code.

[2016-05-13 12:02] jbadeau commented on #23
The swagger generator supports it. Yes, I think you need only delegate.

[2016-06-08 08:24] sovereign36 opened #33 "Gradle plugin status/version"
Hi,

I was trying to follow the README to configure the Gradle plugin, which gives me this error :
` > Could not resolve all dependencies for configuration ':classpath'. > Could not find org.zalando.stups:swagger-codegen-gradle-plugin:0.4.24.`

Thus I'm interested if I'm missing some configuration or plugin is just not yet published?
If it is not, I would be very interested if there's any work pla

[2016-06-08 14:11] jbellmann commented on #33
You did everything fine. I got the same error ;-)

I will fix that, seems not to be published. I have no clue why. Will do again today.

[2016-06-08 15:52] jbellmann commented on #33
[There it is](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22swagger-codegen-gradle-plugin%22)

But keep in mind that I'm not an expert in writing gradle-plugins. So you will probably find bugs. But then, please report them.

Thanks

[2016-06-08 15:53] #33 closed

[2016-06-08 15:54] #31 closed

[2016-06-08 15:56] jbellmann commented on #10
I think that was fixed already.

[2016-06-08 15:56] #10 closed

[2016-06-08 15:58] #2 closed

[2016-06-08 15:59] jbellmann commented on #3
We go with code-generation. It's easier for static languages.

[2016-06-08 15:59] #3 closed

[2016-06-11 11:21] sarnowski opened #35 "swagger-ui not working when deployed in servlet container"
I am deploying a Spring Boot application in a Jetty servlet container instead of running it with an embedded Tomcat. I guess that classpath resolution doesn't work in the swagger UI controller because its not a flattened classpath in the war file:

[code]

[2016-06-12 23:01] #35 closed

[2016-06-22 13:51] gitLinda commented on #23
I'm also interested on this fix

[2016-08-15 02:32] RameshRM opened #36 "Is there a working sample for generating interfaces with Maven Plugin?"
Maven plugin `code gen` lifecycle dont work either for `jaxRsInterfaces/SpringInterfaces` etc , complains abount missing dependencies, JaxRS Annotations , Spring Annotations not found . Can you share working example / doc.

Thx

[2016-08-15 08:02] ePaul commented on #36
Related: #11

[2016-10-07 19:01] jkerak opened #37 "BasePath not generated with JAX-RS interfaces"
I am currently generating JAX-RS annotated interfaces. I'd like to have all the swagger-generated enpoints have a base path, for example, of `/api`.  I tried adding `basePath: "/api"` to the root of my swagger.yaml, but it does not look like this is picked up during code generation (and I do not see anything referencing basePath in the mustache templates.  Is this something that can be done?

I fo

[2016-10-13 14:09] jkerak commented on #5
Is there a way yet to generate bean validation annotations on the generated pojos?

[2016-10-13 14:14] jkerak opened #38 "custom mustache template"
is there an example of how I can point my code generation (in my case for jax-rs) to a local mustache template? I'm looking to add JSR303 annotations to the template.

[2016-10-13 15:11] jbellmann commented on #5
@jkerak I would say it is (without 'pattern'). [See here](https://github.com/zalando-stups/swagger-codegen-tooling/blob/master/swagger-codegen-maven-plugin/src/it/kio-yaml-with-Builder-303/pom.xml#L23) for a configuration-example. Does not work for JAX-RS, only implemented for Spring-***-templates.
Let me know how it worked for you (or if not open an issue and paste some stacktraces if possible)

[2016-10-13 15:17] jkerak commented on #5
I ran that code sample and did not find it working. In the ApplicationDetails swagger definition, `name` is defined with `minLength: 1`. When I ran the integration tests and looked at the resulting ApplicationDetails.java, I expected to see an `@Min` annotation on the `name` property, but it is not there.

[2016-10-13 15:18] jbellmann commented on #38
[Here is ](https://github.com/zalando-stups/swagger-codegen-tooling/blob/master/swagger-codegen-templates/swagger-codegen-template-spring-interfaces/src/main/resources/SpringInterfaces/model303.mustache) a template for that.

[Here is ](https://github.com/zalando-stups/swagger-codegen-tooling/blob/master/swagger-codegen-templates/swagger-codegen-template-spring-interfaces/src/main/java/de/zalando/

[2016-10-13 15:44] jkerak commented on #38
I understand that JSR303 are supposed to be supported SpringMVC (though min/max don't seem to currently work), but I was looking to create one for JAX-RS with JSR303. Any particular reason it isn't supported currently?

[2016-10-20 10:34] grimly opened #39 "Name collision with APIs"
Hello,

I tried your `org.zalando.maven.plugins:swagger-codegen-maven-plugin` plugin with [the example](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen-maven-plugin/examples/swagger.yaml) provided by the [io.swagger:swagger-codegen-maven-plugin](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen-maven-plugin) plugin.

I ran into a

[2016-10-25 17:00] BGehrels opened #40 "Inverted Spring MVC query param required generation"
Spring MVCs `@RequestParam` annotation has an attribute `required`. It is, by default, `true`.
The behaviour of SpringInterfacesNoSwaggerAnnotations/queryParams.mustache is therefore broken:

If a query parameter is required, it generates `required=true`, which is superfluous. If a query parameter is not required, it generates no required parameter at all. The default value will take it's place th

[2016-10-26 12:35] BGehrels opened #41 "Do not generate consumes for requests without body"
If you define something like

[code]

on top of your swagger file and then generate Spring MVC controller interfaces for a

[code]

endpoint, the following annotation will be generated:

[code]

The Spring docs say about consumes:

And Spring is pretty strict here: if the Content-Type header is missing, it will return a 400 status code. This does not seem to be what we want here: Defining a Conten

[2016-10-26 15:20] ePaul commented on #41
I would say you should not use `consumes: application/json` at the top level of your file, just for this reason.
But yes, the consumes property obviously only applies to operations which have a request body.

[2016-11-01 14:41] jbellmann commented on #40
@BGehrels
please try out release `0.4.29`. If this is fixed, close this issue or report your observations please.

[2016-11-01 16:47] jbellmann commented on #41
@BGehrels
I agree with @ePaul here.

But try out version `0.4.30`. Let me know about issues with that version or close this issues if you think it's fixed.

[2016-11-01 16:52] jbellmann commented on #38
To be honest, I don't use JAX-RS. So I don't invest time in JAX-RS. But you can contribute if you want to.

Regards

[2016-11-21 14:37] LappleApple commented on #9
@jbellmann closing out this issue as per your last comment from 2015

[2016-11-21 14:37] #9 closed

[2016-11-21 14:45] LappleApple commented on #26
Hi @A-Joshi, were you able to make things work? Let us know so we can close out the issue.

[2016-11-21 14:46] LappleApple commented on #32
Hi @ethlo, are you still interested in creating a PR on this? Just let us know...

[2016-11-21 14:47] LappleApple commented on #36
@jbellmann Can we work with @ePaul to draft something up and close out this ticket? Then it might help @RameshRM ...

[2016-11-21 14:49] LappleApple commented on #37
Hi @jkerak, thanks for the comment. @jbellmann, do you agree with the comment? If so, maybe @jkerak would be interested in helping with this.

[2016-11-21 14:50] LappleApple commented on #38
Hi @jkerak, are you interested in contributing this? Let us know and we'll add an "In Progress" label to the issue.

[2016-11-21 14:51] LappleApple commented on #39
Hey @jbellmann, do you agree with @grimly and/or have any feedback?

[2016-11-21 18:00] jbellmann commented on #39
@grimly

Yes you are right. I had a look into the original templates provided by swagger.io. They changed a lot since the day I started this project. Unfortunately I did not give JAXRS much attention since then in favour of Spring-* . Using the FQN solved the problem.

To be honest, I played with the idea to drop JAXRS-Support completely. Would it make any sense to you not to drop it? Did you comp

[2016-11-21 21:47] jkerak commented on #38
Hi @LappleApple I'll close for now - don't have the cycles. I'll open a new more specific one if I get the chance to take a look.

[2016-11-21 21:47] #38 closed

[2016-11-24 00:36] kkrauth opened #44 "apiPackage required even when skipApigeneration defined"
When `<skipApigeneration>true</skipApigeneration>` is set, the `<apiPackage>` value is still required. When omitted, a NullPointerException is thrown. Ideally `<apiPackage>` should be optional when skipping API generation. Using version 0.4.30.

[2016-11-24 08:44] jbellmann commented on #44
Thanks for reporting, will look into this.

[2016-11-25 09:07] jbellmann commented on #44
@kkrauth
Could you please verify that 0.4.31 works for you as expected?

Regards
Jörg

[2016-11-25 19:06] kkrauth commented on #44
Yep, that fixed it. Thanks! 👍

[2016-11-26 05:35] kkrauth opened #45 "consumes annotation field on HTTP actions without a body"
When using a swagger file that defines the consume/produce properties globally:
[code]
In the resulting spring interface definitions, the consumes request mapping field is included even for HTTP actions that don't have a body (i.e. DELETE):
[code]
This causes issues with "strict" HTTP client libraries like OkHttp which will refuse to send a Content-Type header for DELETE/GET operations - as a resu

[2016-11-26 18:37] jbellmann commented on #45
@kkrauth

this was reported [here](https://github.com/zalando-stups/swagger-codegen-tooling/issues/41). But the issues is not closed yet because the only method fixed so far should be GET. Could you please verify that GET-methods are generated correctly?
Do you have more methods in mind where "consumes" makes no sense?

Regards
Jörg

[2016-11-26 18:43] #44 closed

[2016-11-26 18:49] kkrauth commented on #45
Thanks, didn't spot that issue. I think GET and DELETE are the two most commonly used HTTP methods that shouldn't have a request body. So if those two omit the content type attribute, the majority of use cases should be covered.

I will add a GET endpoint and check if it works correct with 0.4.31.

[2016-11-26 21:08] jbellmann commented on #45
I released 0.4.33 minutes ago. DELETE-method should not be generated with 'consumes' anymore.
Please verify and if it's working as expected close this issue. Otherwise let me know what went wrong.

Thanks
Jörg

[2016-11-27 16:34] kkrauth commented on #45
Yep, that's good! Thank you.

[2016-11-27 16:34] #45 closed

[2017-01-05 15:35] cfraenkel opened #47 "Using swagger-codegen-maven-plugin with maven 2.0.11"
I'm bound to use maven 2.0.11 in an older project and would like to use swagger-codegen-maven-plugin. This sadly does not work out of the box:

[code]

I've tried rebuilding swagger-codegen-maven-plugin after setting maven.version in `swagger-codegen-maven-plugin/pom.xml` to 2.0.11 or even 2.2.1. After both of these changes I was able to sucessfully use the  plugin with my outdated maven version.

[2017-01-16 16:19] ender74 commented on #32
I did create a pull request.

[2017-01-16 16:31] jbellmann commented on #32
@ethlo great, I will have a look into it.

[2017-01-20 14:46] ender74 commented on #37
This issue also exists for Spring annotated interfaces. I just checked with version 0.4.34 and the springinterfacesResponseEntityNoSwaggerAnnotations Template. The following swagger:

  "swagger": "2.0",
  "info": {
  "basePath": "/api",
  "paths": {
    "/dependencies": {
...
produces this Interface:

public interface DependenciesApi {
  @RequestMapping(value="/dependencies",method=RequestMethod.

[2017-01-27 08:34] XtreZz commented on #37
Thank you for the fix,any ideea when this will be released ?

[2017-01-27 08:59] jbellmann commented on #37
Oh, I missed the existing PR. But I will have a look today.

[2017-01-27 09:32] LappleApple commented on #32
Hi @jbellmann, do you plan to review @ender74's PR anytime soon?

[2017-01-27 16:18] #37 closed

[2017-02-02 09:24] ender74 opened #50 "Support basePath for springinterfacesSplitResponseEntityNoSwaggerAnnotations template"
The basePath (see #37) is currently not generated for the springinterfacesSplitResponseEntityNoSwaggerAnnotations template

[2017-02-02 09:26] ender74 commented on #50
Created a new PR to fix this: https://github.com/zalando-stups/swagger-codegen-tooling/pull/51

[2017-02-02 10:24] jbellmann opened #52 "Rename generated Controller-classes from *Impl to *Controller to not"
... be confused what is a Controller, what is an Implemenation oft the generated api.

[2017-02-02 10:25] jbellmann commented on #52
@ender74 What do you think? I have seen the controllers generated name ends with 'Impl'. Would it be fine to you when I rename it to 'Controller' instead?

Regards
Jörg

[2017-02-02 11:09] jbellmann opened #53 "Add 'pom.xml.releaseBackup' to git-ignore."

[2017-02-02 13:52] #53 closed

[2017-02-02 14:03] jbellmann opened #55 "Add some more badges to README"

[2017-02-02 14:19] #55 closed

[2017-02-02 15:55] ender74 commented on #52
Yes, good idea. The suffix Controller is better.

[2017-02-14 11:19] otrosien opened #58 "Re-enable gradle plugin"
Ensure same feature set to re-align the gradle plugin with the maven plugin.

framework:
:white_check_mark: ensure gradle 2.10+ and gradle 3 compatibility (is that sufficient?)
:white_check_mark: java

feature set:
:white_check_mark: use single input file instead of a source set as swagger source definition
❓ : apply same defaults as the maven plugin
:white_check_mark: ensure interoperability with

[2017-02-14 12:44] #52 closed

[2017-02-14 12:50] #50 closed

[2017-02-14 15:08] otrosien commented on #58
Here is the current work-in-progress:

https://github.com/otrosien/swagger-codegen-gradle-plugin2

[2017-02-15 08:09] otrosien commented on #58
gradle and maven seem to write to different locations in the yamltojson use case. @jbellmann could you clarify what's the use case and the desired output directory?

[2017-02-21 08:52] otrosien commented on #47
maven 2.0.11! wow, that's from Feb 2010! ;-)

[2017-02-21 08:54] otrosien opened #60 "Upgrade swagger dependencies"
Update to current versions of swagger libraries:
[code]

[2017-02-21 08:59] jbellmann commented on #60
@otrosien this will be not that easy. I tried it before and experienced a lot of breaking changes. That will be a longer task.

[2017-02-21 09:04] jbellmann commented on #58
@otrosien sure, I can :-)

We mostly define apis in yaml. The swagger-ui instead expects a json to be served for rendering. That's the reason for a yaml->json transformation. So if you want your application to expose an swagger-ui-endpoint that the way to go.

Have a look [into this module](https://github.com/zalando-stups/swagger-codegen-tooling/tree/master/spring-boot-stups-swagger-codegen-ui) t

[2017-02-21 09:05] otrosien commented on #60
I'll have a look. I hope to improve the situation on transitive dependencies creeping into my gradle build. See here: https://github.com/zalando-incubator/swagger-codegen-gradle-plugin/issues/8
`swagger-codegen` currently pulls in maven-plugin stuff.

[2017-02-21 09:06] jbellmann commented on #47
I could try it for at least 30 min to get this working. If it's not working we can skip this issue.

[2017-02-21 09:07] jbellmann commented on #41
Seems to me everything working as expected? Reopen if needed.

[2017-02-21 09:07] #41 closed

[2017-02-21 09:08] jbellmann commented on #40
Seems to be working. Reopen if needed.

[2017-02-21 09:08] #40 closed

[2017-02-21 09:11] jbellmann commented on #32
All PR merged an closed. So everything should be in place.

[2017-02-21 09:11] #32 closed

[2017-02-21 09:12] jbellmann commented on #26
Seems to be working. Reopen if needed.

[2017-02-21 09:12] #26 closed

[2017-02-21 09:26] jbellmann commented on #60
But this deps can be excluded, right?

I will create a branch '0.4.x' for maintenance of current state. Then we can start in 'master' working on updating 'swagger-codegen' dependencies here.

[2017-02-22 09:01] otrosien opened #61 "Evaluate official maven plugin for swagger-codegen"
In best case this project can be reduced to publishing our own code templates, and letting swagger's own maven plugin do the code generation.

## Questions to answer

❓ what features does our maven integration offer that the official plugin does not?
✅  is the official plugin capable of using our templates or do we need to adapt something?
❓ do we need to offer some migration guide how to switch t

[2017-02-22 10:10] cfraenkel commented on #47
I would really appreciate this as it would allow me to keep up to date with the newest version without having to keep a fork.

[2017-02-22 19:18] otrosien commented on #60
jep, I am excluding the dependencies manually, but that's not how dependencies were intended... Upgrading does not solve the dependencies problem anyway (http://mvnrepository.com/artifact/io.swagger/swagger-codegen/2.2.1)
So, before putting much effort in upgrading, let's discuss issue #61.

[2017-02-22 19:35] otrosien commented on #47
@cfraenkel have you tried the official maven plugin from swagger.io? Would you mind giving us feedback which one you prefer and why? (best would be in issue #61)

Thanks!

[2017-02-23 06:44] otrosien commented on #60
I'm trying to fix the issue upstream: https://github.com/swagger-api/swagger-codegen/pull/4840

[2017-02-23 09:52] cfraenkel commented on #61
The main reason for using this plugin were the templates you provide:
The project I'm developing is using a contract first approach. From my tests the code templates provided by this project are far better suited to this - I do not have any need to generate any springfox (or even swagger) annotated code (I do serve the swagger spec I'm developing against).
I also like that the templates do not gen

[2017-02-28 09:49] otrosien commented on #61
Thanks for your feedback. We will take it into consideration when deciding how to proceed next.

[2017-02-28 13:29] otrosien commented on #61
Just verified our current 0.5.0-SNAPSHOT against the 2.2.1 swagger-codegen-cli.jar:

[code]

... works.

[2017-02-28 15:58] grimly commented on #39
Sorry for the late answer.

You may not really compare Spring and JAXRS as their goal are not the same.

JAXRS is a specification targeted at serving REST services while Spring is an implementation aimed at Web applications (which is a superset).

My opinion would be to make priviledged the JAXRS support. You can then use it with Jersey or CXF, which both works with Spring.
I personally use Jersey

[2017-03-01 18:29] otrosien commented on #60
@jbellmann : undo inclusion of the extra dependencies in https://github.com/zalando-stups/swagger-codegen-tooling/commit/2da1bd5ab77c137ca0ae79823de04f19a0438402#diff-c35b35f47d958c913c8cb108abee5381R23 - we should use the transitive deps from swagger-codegen. If I'm not mistaken there's an incompatible API change in swagger-parser causing gradle run to fail.

[2017-03-01 20:51] msymons commented on #60
Edited: 16th July 2017

swagger-codegen v2.2.3 released 15th July 2017.

@otrosien , Going by the POM, this seems to implement your fix to remove both problem maven-plugin dependencies.  Thus, current versions are now:

[code]

There are multiple transitive dependencies that have security vulnerabilities fixed in the above versions:

For instance, swagger-compat-spec-parser now uses updated org.ap

[2017-09-21 21:40] jkerak commented on #58
Is there any update to this? https://github.com/zalando-incubator/swagger-codegen-gradle-plugin no longer exists

[2017-09-24 11:26] otrosien commented on #58
There has been a cleanup process in zalando-incubator, and this work-in-progress was part of the removal. Unfortunately I didn't succeed in pushing the official swagger-codegen project towards integrating a gradle project. There has been lots of discussion without outcome. ( https://github.com/swagger-api/swagger-codegen/issues/4758 )

[2017-10-06 15:14] cfraenkel commented on #47
We no longer need support for maven 2.0.11 as we are moving to a gradle based build.

[2017-10-06 15:14] #47 closed

[2017-10-18 12:03] janjongerden-zalando opened #62 "Problem generating enums with special characters"
When generating code from an enum like this:
[code]
This is the resulting code:
[code]
Which does not compile. Moving the string value to a constructor parameter and removing/replacing special characters may be a solution.

[2017-10-19 08:38] ePaul commented on #62
**Workaround:** Don't use `enum`. Then it becomes a normal string property.

If I remember correctly, the same problem was already fixed in swagger-codegen's Java-based languages (it is sanitizing the enum names). I guess updating swagger-codegen-tooling (and the templates) to a newer version of swagger-codegen should help.

[2017-12-24 11:18] sleroy commented on #19
Indeed this behaviour is really annoying :-/ and the lack of debug output

[2018-02-07 09:40] ender74 opened #63 "support spring-boot-hateoas"
I would like to use the swagger code generator together with spring-boot-hateoas. From my understanding this would mean, that there needs to be a new template where every model bean extends from *org.springframework.hateoas.ResourceSupport*. What do you think about this? Any other ideas, how to achieve this? I'm willing to provide a PR if this feature is wanted.

[2018-02-12 12:29] ender74 commented on #63
Any suggestions on this idea @jbellmann. Otherwise i will proceed to create a PR for this.

[2018-04-23 16:21] ender74 opened #64 "support apiPrefix parameter"
I have to different swagger files with same basePath (like /api). I would like to generate spring-boot server stups out of it. This results in two identical named classes (e.g. "ApiApiController") which then results in colliding bean names:

[code]

 To prevent this, i would like to be able to configure a Prefix which will be added to the generated Api Classnames.

[2022-03-11 12:04] #58 closed

[2022-03-11 12:06] #60 closed

[2022-05-20 19:26] #61 closed